/ {
  usb_phy0: phy0 {
    #phy-cells = <0>;
    compatible = "usb-nop-xceiv";
  };
  pps {
    compatible = "pps-gpio";
    gpios = <&gpio0 54 0>;
    capture-clear;
  };
};

&usb0 {
  dr_mode = "host";
  usb-phy = <&usb_phy0>;
};

&spi0 {
  spidev@0 {
    compatible = "ltc2488";
    reg = <0x0>;
    spi-max-frequency = <10000000>;
  };
  spidev@1 {
    compatible = "ltc2488";
    reg = <0x1>;
    spi-max-frequency = <10000000>;
  };
  spidev@2 {
    compatible = "ltc2488";
    reg = <0x2>;
    spi-max-frequency = <10000000>;
  };
};

&spi1 {
  spidev@0 {
    compatible = "ltc2488";
    reg = <0x0>;
    spi-max-frequency = <10000000>;
  };
  spidev@1 {
    compatible = "ltc2488";
    reg = <0x1>;
    spi-max-frequency = <10000000>;
  };
  spidev@2 {
    compatible = "ltc2488";
    reg = <0x2>;
    spi-max-frequency = <10000000>;
  };
};
